body{
    background-color:lightgrey;
    text-align: center;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

h1{
    text-align: center;
    background-color: #EDEBE8;
}

p{
    font-size: 20px;
    color: Blue;
    text-align: center
}

#error{
    color: #F00;
    font-size: 25px;
}

#mensaje{
    color: #F00;
    font-size: 25px;
}

#boton{
    font-size: 17px;
    margin: 10px;
}

#archivo{
    margin: auto;
}

label{
    font-size: 20px
}

legend{
    font-size: 30px;
    text-align: left
}

fieldset{
    max-width: 600px; 
    margin: auto;
    background-color:#F4F0DE;
}

#bienvenida{
    background-color:lightgrey;
    text-align: center;
    color: #000;
}

form{
    font-size:20px;
}

a{
    padding: 15px;
}

#regresar{
    color: blue;
    font-size: 20px;
}

#regresar:hover{
    color: #000;
    font-style: italic;
}